/*
	@project XTranslate (style.css)
	@url https://github.com/extensible/XTranslate 
*/

/* Popup */
	.XTranslate * {
		font:normal 13px/120% Verdana, Geneva, sans-serif;
		color:white;
		margin:0;
		padding:0;
	}
	.XTranslate {
		position:fixed;
		left:0;
		top:0;
		padding:.8em;
		display:none;
		z-index:1000;
		
		background-color:#b05ebd;
		background-image: -o-linear-gradient(top, #b05ebd 0%, #2c03e9 70%);
		box-shadow:0 0 10px #2c03e9;
		border-radius:10px;
		border:1px solid #8B11FF;
	}
	
	.XTranslate_result {
		max-width:300px;
		max-height:200px;
		overflow:auto;
		display:block;
	}
	
	.XTranslate_wordtype dt {
		font-weight:bold;
		margin-top:.5em;
	}
	.XTranslate_wordtype dd {
		padding-left:2em;
	}

/* Options */
	.XTranslate_body { text-align:center; }
	.XTranslate_options { display:inline-block; text-align:left; }
	.XTranslate_options *,
	.XTranslate_options input,
	.XTranslate_options select,
	.XTranslate_options textarea { font:16px "Times New Roman", Times, serif; }
	.XTranslate_options h1,
	.XTranslate_options strong { font-weight:bold; }
	.XTranslate_options .popup_demo { position:static; display:inline-block; margin:1em 0; }
	.XTranslate_options .user-css { display:table; }
	.XTranslate_options .user-css > * { display:table-row; }
	.XTranslate_options .user-css > * > *:first-child { padding-right:10px; }
	.XTranslate_options .user-css > * > * { display:table-cell; padding-bottom:10px; }
	.XTranslate_options > dl { display:block; padding:1em; border:1px solid silver; border-radius:10px; }
	.XTranslate_options > dl > dd,
	.XTranslate_options .content { margin:0; padding-left:20px; }
	.XTranslate_options .content > * { vertical-align:middle; }

