/*
	@project XTranslate (style.css)
	@url https://github.com/extensible/XTranslate 
*/

/* Popup */
	.XTranslate * {
		font:normal small/120% Verdana, Geneva, sans-serif;
		color:white;
		margin:0;
		padding:0;
	}
	.XTranslate {
		position:fixed;
		left:0;
		top:0;
		padding:.8em;
		display:none;
		z-index:1000;
		
		background: -o-linear-gradient(bottom, rgb(39,0,234) 0%, rgb(176,94,189) 50%);
		box-shadow:0 0 10px rgb(39, 0, 234);
		border-radius:10px;
		border:1px solid #8B11FF;
	}
	
	.XTranslate_result {
		max-width:300px;
		max-height:200px;
		overflow:auto;
		display:block;
	}
	
	.XTranslate_wordtype dt {
		font-weight:bold;
		margin-top:.5em;
	}
	.XTranslate_wordtype dd {
		padding-left:2em;
	}

/* Options */
	.XTranslate_options *,
	.XTranslate_options input,
	.XTranslate_options select,
	.XTranslate_options textarea { font:medium "Times New Roman", Times, serif; }
	.XTranslate_options h1,
	.XTranslate_options strong { font-weight:bold; }
	.XTranslate_options input[name=trigger_hotkey] { font-weight:bold; }
	.XTranslate_options .content { margin-left:2em; }
	.XTranslate_options .content > * { vertical-align:middle; }
	.XTranslate_options .popup_demo { position:static; display:inline-block; margin:1em 0; }
	.XTranslate_options .user-css { display:table; }
	.XTranslate_options .user-css > * { display:table-row; }
	.XTranslate_options .user-css > * > * { display:table-cell; }	
	.XTranslate_options .user-css input { margin-left:10px; }