<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="https://github.com/extensible/XTranslate" version="1.4">
	<name>XTranslate</name>
	<description>Easy translate text on web pages</description>
	<author href="http://www.mintdesign.ru/" email="ixrock@gmail.com">ixrock</author>
	<icon src="icons/icon-64.png"/>
	<license href="http://www.opensource.org/licenses/mit-license.php">MIT</license>	
	<access origin="*" subdomains="true"/>
</widget>
