/*
	@project XTranslate (style.css)
	@url https://github.com/extensible/XTranslate 
*/

/* Popup */
	.XTranslate * { margin:0; padding:0; line-height:inherit; color:inherit; font:inherit; border:none; outline:none; width:auto; height:auto; }
	.XTranslate {
		position:fixed;
		left:0;
		top:0;
		padding:1em;
		display:none;
		z-index:1000;
		white-space:pre-line;
		text-align:left;

		font:13px/120% Verdana, Geneva, sans-serif;
		color:#fff;
		text-shadow:1px 1px 0 #8B11FF;
		
		background-color:#b05ebd;
		background-image: -o-linear-gradient(top, #b05ebd 0%, #8B11FF 70%);
		box-shadow:0 0 10px #b05ebd;
		border-radius:10px;
		border:1px solid #8B11FF;
	}
	
	.XTranslate_result {
		max-width:300px;
		max-height:200px;
		overflow:auto;
		display:block;
	}
	
	.XTranslate_wordtype dt {
		font-weight:bold;
		font-style:normal;
		margin-top:.5em;
	}
	.XTranslate_wordtype dd {
		padding-left:2em;
	}

/* Options */
	.XTranslate_body .hidden { display:none; }
	.XTranslate_body { text-align:center; }
	.XTranslate_options { position:relative; display:inline-block; text-align:left; max-width:380px; }
	.XTranslate_options h1,
	.XTranslate_options input,
	.XTranslate_options button,
	.XTranslate_options select,
	.XTranslate_options textarea { font:16px "Times New Roman", Times, serif; }
	.XTranslate_options h1 { font-weight:bold; min-height:20px; }
	.XTranslate_options .popup_demo { position:static; display:inline-block; margin:1em 0 !important; }
	.XTranslate_options .user-css { display:table; }
	.XTranslate_options .user-css > * { display:table-row; }
	.XTranslate_options .user-css > * > *:first-child { padding-right:10px; }
	.XTranslate_options .user-css > * > * { display:table-cell; padding-bottom:10px; }
	.XTranslate_options > dl { display:block; padding:1em; border:1px solid silver; border-radius:10px; }
	.XTranslate_options > dl > dd,
	.XTranslate_options .content { margin:0; padding-left:20px; }
	.XTranslate_options .content > * { vertical-align:middle; }
	.XTranslate_options #langs select { width:100px; }
	.XTranslate_options span.arrow { display:inline-block; line-height:100%; padding:0 2px; cursor:pointer; }
	.XTranslate_options div.footer a { color:black; text-decoration:none }
	.XTranslate_options div.footer a:hover { text-decoration:underline; }
	.XTranslate_options input.error { outline:2px solid red; }
	.XTranslate_options input.hint { color:silver; }
	.XTranslate_options div.error { color:red; text-align:center; }
	.XTranslate_options .nobr { white-space:nowrap; }
	


